@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 24px;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}

.purple {
  color: rgb(100 21 255);
}

img {
  max-width: 100%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*

nav

*/

.nav__header {
  display: flex;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 48px;
}

.logo__img {
  width: 40px;
}

.logo__link {
  display: flex;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: black;
  font-size: 24px !important;
}

.logo__text:hover {
  color: rgb(100 21 255 / var(--tw-bg-opacity));
}

.nav__link:hover {
  color: rgb(100, 21, 255);
  text-decoration: underline;
}
.nav__link--primary {
  color: white;
  margin: 0 16px;
  padding: 12px 32px;
  background-color: rgb(100, 21, 255);
  border-radius: 99px;
  border: 9999px;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  background-color: rgb(75, 0, 224);
  text-decoration: none;
}
.nav__sign {
  color: white;
}

.nav__link {
  margin: 0 24px;
  font-weight: bold;
}

.nav__link--login {
  margin-left: 32px;
  margin-right: 12px;
}

/* 

header

*/

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__wrap--left {
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__text {
  font-size: 48px;
  text-align: left;
  margin-bottom: 16px;
}

.Header__para {
  font-size: 18px;
  margin-bottom: 32px;
  font-weight: 300;
}

.header__email {
  display: flex;
  position: relative;
  margin-bottom: 32px;
}

.header__email--imput {
  width: 100%;
  color: #242424;
  border-radius: 99px;
  border: 2px solid rgb(160, 174, 192);
  padding: 20px;
  font-size: 20px;
}

.header__email--button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  background-color: rgb(100, 21, 255);
  border-radius: 99px;
  border-width: 0px;
  padding: 16px 32px;
  transition: all 300ms ease;
}

.header__email--button:hover {
  background-color: rgb(75, 0, 224);
}

.header__left--img {
  margin-top: 8px;
  width: 100%;
  opacity: 0.5;
}

.header__right--img {
  width: 57%;
  max-width: 100%;
}

.header__trusted {
  margin-top: px;
}

.header__trusted--para {
  color: rgb(160, 174, 192);
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 700;
}

/*

features

*/

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.features__header {
  color: rgb(100 21 255);
  font-size: 20px;
  margin: 16px 0;
  text-align: center;
  font-weight: 900;
}

.main__header--h1 {
  text-align: center;
  font-size: 48px;
}

.main__header--para {
  font-size: 18px;
  text-align: center;
  width: 640px;
  max-width: 100%;
  line-height: 1.5;
  color: rgb(160, 174, 192);
}

.Feature__list--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 12px;
}

.features__list {
  width: 27%;
  display: flex;
  margin: 32px 0px;
}

.features__img--wrapper {
  display: flex;
  border-radius: 99px;
  border: 1px solid rgb(226, 232, 240);
  text-align: center;
  padding: 24px;
  align-self: flex-start;
  margin-right: 16px;
}

.features__img {
  width: 64px;
}

.feature__description--wrapper {
  text-align: left;
  padding: 0 8px;
}

.feature__description0--header {
  font-size: 24px;
  text-align: left;
}

.feature__description--para {
  text-align: left;
  color: rgb(160, 174, 192);
}

/*

   quality

   */

.quality__container {
  display: flex;
  margin-top: 64px;
  margin: 64px;
}

.quality__wrapper {
  width: 50%;
}

.quality__img--wrapper {
  width: 50%;
}

.quality__subheader {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  margin-bottom: 24px;
}

.quality__header {
  font-size: 64px;
  font-weight: 900;
}

.Quality__para {
  text-align: left;
  padding: 10px;
  margin-top: 16px;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161);
  font-size: 19px;
}

.quality__link {
  color: white;
  font-weight: bold;
  margin: 24px;
  padding: 12px 32px;
  background-color: rgb(100, 21, 255);
  border-radius: 99px;
  border: 9999px;
  transition: all 300ms ease;
}

.quality__link:hover {
  background-color: rgb(75, 0, 224);
  text-decoration: none;
}

/*

   step

   */

.steps__container {
  display: flex;
  margin-top: 64px;
  padding: 80px 32px;
}

.step__wrap {
  display: flex;
}

.step__wrap--right {
  width: 50%;
  padding-left: 32px;
}

.step__links {
  display: flex;
  flex-direction: column;
}

.step__link {
  display: flex;
}

.step__link--number {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(203 213 224 / var(--tw-text-opacity));
  padding-right: 16px;
}

.steps__subheader {
  color: rgb(100 21 255);
  font-size: 16px;
  padding-bottom: 16px;
}

.step__header {
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 16px;
}

.step__link--header {
  text-align: left;
}

.step__link--para {
  text-align: left;
  font-size: 18px;
  color: rgb(124 139 161);
}

/*

   values

   */

.values__container {
  display: flex;
  margin-top: 64px;
}

.value__wraper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.vaule__subheader {
  padding-bottom: 16px;
  font-size: 16px;
  color: rgb(100 21 255);
}

.values__header {
  font-size: 52px;
  font-weight: 900;
  padding: 8px 0;
}

.values__header--para {
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
  width: 90%;
}

.values__bottomw--wrapper{
  width: 50%;
}

.values__img {
  width: 47%;
}

.value__afordable--header {
  display: flex;
  padding: 16px 0;
}

.value__afordable--img {
  background-color: rgb(154 230 180);
  color: rgb(39 103 73);
  border-color: rgb(100 21 255);
  padding: 8px;
  border-radius: 9999px;
  border-width: 0px;
}
.affordable__header {
  padding: 0 8px;
  display: flex;
  align-items: center;
}